.item {
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}

  .card {
    border-width: thin;
    box-shadow: 0 2px 8px -3px var(--darkgrey);
    border-radius: 3px;
}

.card:hover {
    border: 3px solid #000;
    border-style: solid;
    border-color: #dadce0;
}